# Environment Dependent files
/input/*
/output/*
/vocal/*
*.dll

# Visual C++ files
/Debug/*
/Release/*
/ipch/*
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.*
*.opensdf

# Eclipse Project files
.cproject
.project
.settings/*

# Compiled Object files
Nakloid
*.slo
*.lo
*.o
*.exe
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Xcode
*.DS_store
